<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "gummy.jpeg" %>
    <% end %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "home", "/posts", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%# <%= link_to "search", "search", class: "nav-link" %>
            <%= form_tag posts_path, method: :get, class: "" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "search by name or brand"
              %>
              <%= submit_tag "search", class: "" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "post", "/posts/new", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "prof.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "profile", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
