<div class="form-container">
  <%= simple_form_for @post, html: { autocomplete: 'off' } do |f| %>
      <%= f.input :title, required: true, label: "snack name" %>
      <%= f.input :rating, as: :numeric, required: true, label: "rating:" %>
      <%= f.input :review, required: true, label: "review:" %>
      <%= f.input :brand, as: :country, required: true, label: "brand:" %>
      <%= f.input :country, as: :country, required: true, label: "country:" %>
      <%= f.input :image, required: true, label: "upload a pic:" %>

      <%= f.submit "post!", class:'post-button'%>
  <% end %>
</div>
