<div class="form-container">
  <%= simple_form_for @post do |f| %>
      <%= f.input :title, required: true, label: "snack name" %>
      <%= f.input :rating, collection: (1..5).to_a, label: "rating:", required:true, input_html: {data: {controller: "star-rating"}} %>
      <%= f.input :review, required: true, label: "review:" %>
      <%= f.input :brand, required: true, label: "brand:" %>
      <%= f.input :country, required: true, label: "country:" %>
      <%= f.input :image, as: :file, required: true, label: "upload a pic:" %>

      <%= f.submit "post!", class:'post-button'%>
  <% end %>
</div>
