<h1>All posts</h1>
<% @posts.each do |post|%>
  <h3><%= post.title %></h3>
  <p><%= post.review %></p>
  <p><%= post.rating %>stars</p>
  <p><%= post.brand %></p>
  <p><%= post.country %></p>
<% end %>
